{{>header}}

<div class="main-content">
    <p>Get the current weather here</p>

    <form>
        <input placeholder="enter location">
        <button>Search</button>
    </form>
    <p id="message-one"></p>
    <p id="message-two"></p>
</div>


{{>footer}}